.description,
.image,
.about,
.video,
.follow,
.spec,
.included {
  margin-bottom: 50px;
  display: block;
  position: relative;
}
.description, .about {
  margin-bottom: var(--space-primary);
}
.description__container,
.follow__container,
.spec__container,
.included__container,
.buy-game__container {
  padding: 20px;
  background-color: var(--bg-default);
  border-radius: 4px;
}
.image__content {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
.image__content::-webkit-scrollbar {
  width: 0;
}
.image__img {
  width: 93%;
  border-radius: 4px;
  margin: 0;
}
.about__content-1 {
  margin-bottom: 30px;
}
.about__package {
  display: flex;
  flex-direction: row;
}
.about__item {
  flex-basis: calc(50% - 0px);
  display: flex;
  flex-direction: column;
  border-left: 1px solid #202122;
  padding: 0 20px;
}
.about__item-title {
  line-height: 20px;
  letter-spacing: 0.2px;
  color:  #ffffff;
}
.about__item-content {
  line-height: 20px;
  letter-spacing: 0.2px;
}
.about__package+.about__package {
  margin-top: 20px;
}
.video__src {
  border-radius: 4px;
  width: 100%;
}
.follow__list {
  list-style: none;
  display: flex;
  list-style-type: none;
  flex-flow: row wrap;
  place-content: center;
  align-items: center;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.follow__item {
  margin: 10px 20px;
  width: 30px;
}
.follow__link {
  height: 100%;
  width: 100%;
}
.follow__icon {
  filter: invert(62%) sepia(10%) saturate(192%) hue-rotate(230deg) brightness(90%) contrast(89%);
}
.spec__content {
  display: flex;
  flex-direction: column;
}
.spec__package {
  display: flex;
  flex-direction: row;
}
.spec__item {
  flex-basis: calc(50% - 0px);
  display: flex;
  flex-direction: column;
  padding-right: 13px;
}
.spec__item-r {
  flex-basis: calc(50% - 0px);
  display: flex;
  flex-direction: column;
}
.spec__package-t {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
}
.spec__item-title {
  line-height: 20px;
  letter-spacing: 0.2px;
  color:  #ffffff;
}
.spec__item-content {
  line-height: 20px;
  letter-spacing: 0.2px;
}
.spec__package+.spec__package {
  margin-top: 20px;
}
.spec__content-lenguage {
  display: block;
}
.spec__package-lenguage {
  margin-top: 30px;
}
.download {
  margin-bottom: 50px;
}
.download__content {
  display: grid;
  row-gap: 30px;
}
.download-game__button {
  display: grid;
  row-gap: 5px;
}
.button {
  letter-spacing: 0.5px;
  font-weight: 500;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 15px;
  padding: 0px 20px;
  height: 50px;
  display: flex;
  text-decoration: none;
  color:  #ffffff;
}
.button--bg_0 {
  background-color: #3253bc;
}
.button--bg_1 {
  background-color: #ff3323;
}
.button--bg_2 {
  background-color: #2a86db;
}
.button--bg_3 {
  background-color: #3253bc;
}
.button--bg_4 {
  background-color: #6dab3c;
}
.button--bg_5 {
  background-color: #ff0000;
}
.buy-game__container {
  padding: 0;
}
.buy__content {
  padding: 0;
}
.buy__img {
  border-radius: 4px 4px 0 0;
  margin: 0;
  width: 100%;
}
.buy__text {
  margin: 20px;
  padding-bottom: 20px;
}
.buy__p {
  margin-bottom: 30px;
}
@media (min-width: 290px) {
  .follow__list {
    flex-flow: row nowrap;
  }
}
@media (min-width: 650px) {
  .image__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  .image__img {
    width: 100%;
  }
  .buy__content {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    height: 250px;
  }
  .buy__img {
    width: 50%;
    margin: 0;
    border-radius: 4px 0 0 4px;
  }
  .buy__text {
    width: 50%;
    margin: 20px;
  }
  .buy__p {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}