.description,
.image,
.about,
.follow,
.spec,
.content-included {
  margin-bottom: 50px;
}

.description__content,
.follow__list,
.spec__content,
.content-included__content,
.buy__content {
  padding: 20px;
  background-color: #131313;
  border-radius: 4px;
}

.image__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.image__item {
  width: 100%;
  border-radius: 4px;
}

.about__content {
  margin-bottom: 40px;
}

.about__container {
  position: relative;
  display: block;
}
.about__box {
  display: flex;
  flex-direction: column;
}
.about__package {
  display: flex;
  flex-direction: row;
}
.about__items {
  flex-basis: calc(50% - 10px);
  display: flex;
  flex-direction: column;
}
.about__items-title {
  line-height: 20px;
  letter-spacing: 0.2px;
}
.about__items-content {
  line-height: 20px;
  letter-spacing: 0.2px;
}
.about__package+.about__package {
  margin-top: 20px;
}

.follow__list {
  list-style: none;
  display: flex;
  list-style-type: none;
  flex-flow: row nowrap;
  position: relative;
  place-content: center;
}

.follow__item {
  margin: 10px 20px;
  width: 30px;
}

.follow__link {
  height: 100%;
  width: 100%;
}

.follow__icon {
  filter: invert(62%) sepia(10%) saturate(192%) hue-rotate(230deg) brightness(90%) contrast(89%);
}

.spec__container {
  position: relative;
  display: block;
}
.spec__box {
  display: flex;
  flex-direction: column;
}
.spec__package {
  display: flex;
  flex-direction: row;
}
.spec__items {
  flex-basis: calc(50% - 10px);
  display: flex;
  flex-direction: column;
}
.spec__package-r {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}
.spec__items-title {
  line-height: 20px;
  letter-spacing: 0.2px;
}
.spec__items-content {
  line-height: 20px;
  letter-spacing: 0.2px;
}
.spec__package+.spec__package {
  margin-top: 20px;
}

.download-game,
.download-update,
.download-online {
  margin-bottom: 30px;
}

.button {
  margin-bottom: 5px;
  letter-spacing: 0.5px;
  font-weight: 500;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 15px;
  padding: 0px 20px;
  height: 50px;
  display: flex;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media (max-width: 699px) {
  .buy__content {
    position: relative;
    padding: 0;
  }

  .buy__img {
    border-radius: 4px 4px 0 0;
    margin: 0;
    width: 100%;
  }

  .buy__text {
    margin: 20px;
    padding-bottom: 20px;
  }

  .buy__p {
    margin-bottom: 30px;
  }

  .buy__btn {
    letter-spacing: 0.5px;
    font-weight: 500;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 15px;
    padding: 0px 20px;
    height: 50px;
    display: flex;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: red;
  }
}
  
@media (min-width: 700px) {
  .buy__content {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    height: 250px;
  }

  .buy__img {
    width: 50%;
    margin: 0;
    border-radius: 4px 0 0 4px;
  }

  .buy__text {
    width: 50%;
    margin: 20px;
  }
  
  .buy__p {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .buy__btn {
    letter-spacing: 0.5px;
    font-weight: 500;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 15px;
    padding: 0 20px;
    height: 50px;
    display: flex;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: red;
  }
}